.header {
width:900px;
margin:0 auto;
}

.hname {
font-size:49px;
text-align:left;
color:#362416;
font-family:Arial;
font-weight:400;
}

.hbutton {
width:140px;
height:35px;
transition:width .3s;
-moz-transition:width .3s;
-webkit-transition:width .3s;
-o-transition:width .3s;
float:left;
font-size:35px;
}

a {
display:block;
height:50px;
text-decoration:none;
}
a:hover{color:black;}
a:visited{color:black;}
a:link{color:black;}

.active{width:340px}

.hbutton:hover {width:340px !important;}

.toolbar:hover > .hbutton{width:140px;}

.hmhead {border-bottom:thick solid #b0cc99;
	border-bottom-width:20px;}
.hbhead {border-bottom:thick solid #677e52;
	border-bottom-width:20px;}
.hphead {border-bottom:thick solid #b7ca79;
	border-bottom-width:20px;}
.hwhead {border-bottom:thick solid #f6e8b1;
	border-bottom-width:20px;}
.hchead {border-bottom:thick solid #89725b;
	border-bottom-width:20px;
	overflow:hidden;}

.hmlink {background-color:#b0cc99;}
.hblink {background-color:#677e52;}
.hplink {background-color:#b7ca79;}
.hwlink {background-color:#f6e8b1;}
.hclink { background-color:#89725b;}

.hmborder {border-color:#b0cc99;}
.hbborder {border-color:#677e52;}
.hpborder {border-color:#b7ca79;}
.hwborder {border-color:#f6e8b1;}
.hcborder {border-color:#89725b;}

.toolbar {
border-bottom:solid thick #89725b;
border-bottom-width:20px;
width:900px;
height:35px;
}

.contentframe{
width:auto;
height:40px;
}

.content {
width:900px;
min-height:400px;
padding:40px 0;
margin:0 0 30px 0;
}

.cblock {
width:870px;
min-height:100px;
border-width:5px;
border-style:solid;
padding:15px;
margin:0 0 10px;
}

.box {
width:900px;
min-height:230px;
background-color:white;
margin:0 auto;
padding:50px;
text-align:justify;}
